<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="BUYER_LINKCODE" value=""/>
    <add key="BUYER_CODE" value="SM0215"/>
    <add key="SUPPLIER_CODE" value="V10001"/>
    <add key="BUYER_NAME" value="GreenWave Shipping"/>
    <add key="LOGINRETRY" value="3"/>
    <add key="PROCESSOR_NAME" value="GreenWave Shipping Http Processor"/>
    <add key="PROCESS_RFQ" value="TRUE"/>
    <add key="PROCESS_PO" value="TRUE"/>
    <add key="LOGPATH" value=""/>
    <add key="MAILTEXTFILE_PATH" value="E:\Projects\LES\Http_POST\GreenWave_Http_Processor\Files"/>
    <add key="DOWNLOAD_ATTACH" value="C:\SHIPMASTER\ESUPPLIER_ATTACHMENTS\"/>
    <add key="PRINT_PATH" value=""/>
    <add key="ESUPPLIER_AUDIT" value="C:\ftp\eSupplierAudit"/>
    <add key="ESUPPLIER_MTML_INBOX" value="C:\SHIPMASTER\eSupplierPortal\ESUPPLIER_MTML_INBOX"/>
    <add key="DOMAIN_NAME" value="http://mams.greenwave.com.sg"/>
    <add key="SEARCH_RFQ_KEY" value="ProcurementQuotationSupplier/CreateEdit"/>
    <add key="SEARCH_PO_KEY" value="ProcurementPurchaseOrderSupplierReport/DirectPurchaseOrder,ProcurementPurchaseOrderSupplierReport/PurchaseOrder"/>
  </appSettings>
</configuration>
