<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BUYER_CODE" value="apps2.southnests.com=SM0803_WEB,Arc Marine PTE Ltd"/>
    <add key="SUPP_CODE" value="@gimas.com=V11920"/>
    <add key="ACTIONS" value="V11920=RFQ"/>
    <add key="LINK_PATH" value="E:\Projects\LES\Namrata_Projects\HTTP_Live_Scrappers\Http_ArcMarine_Processor\Http_ArcMarine_Processor\bin\Debug\Link_Files"/>
    <add key="IMAGE_PATH" value="D:\Working\HTTP_POST\Http_ArcMarine_Processor\Http_ArcMarine_Processor\bin\Debug\Attachments"/>
    <add key="AUDIT_PATH" value="D:\Working\HTTP_POST\Http_ArcMarine_Processor\Http_ArcMarine_Processor\bin\Debug\AuditLog"/>
    <add key="XML_PATH" value="D:\Working\HTTP_POST\Http_ArcMarine_Processor\Http_ArcMarine_Processor\bin\Debug\XML"/>
    <add key="QUOTE_PATH" value="E:\Projects\LES\Namrata_Projects\HTTP_Live_Scrappers\Http_ArcMarine_Processor\Http_ArcMarine_Processor\bin\Debug\MTML"/>
    <add key="QUOTE_VALID" value="V11920=0"/>
    <add key="DEL_TERMS" value="V11920="/>
    <add key="PAY_TERMS" value="V11920="/>
    <!-- for audit log-->
    <add key ="SERVER" value="LeS_242"/>
    <add key ="PROCESSNAME" value="Http_ArcMarine_Processor"/>
    <add key="IsItemCountMismatch" value="false"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>