   #dataGridALog{margin: 0 auto;width: 100%;clear: both;border-collapse: collapse;table-layout: fixed; word-wrap:break-word; }
        #btnNext{border-radius: 0 25px 25px 0!important;height: 24px;   width: 24px; font-size: 10px;font-weight: 200;  }
        #btnPrev { border-radius: 25px 0 0 25px!important;height: 24px;   width: 24px; font-size: 10px;font-weight: 200;  }
        div.dataTables_paginate {float:left;margin: 0;}     
        .form-control {height: 25px !Important;padding-left:1px;}  