<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SITE_URL" value="https://paleconnect.bs-shipmanagement.com/"/>
    <!--<add key ="USERNAME" value="mach-5@fujitrading.co.jp"/>-->  <!--fuji japan-->
    <!--<add key="PASSWORD" value="ed6f0c45"/>--><!--fuji japan-->
    <!--<add key="SUPPLIER" value="V00026"/>-->  <!--fuji japan-->
    <!--<add key ="USERNAME" value="info@fujifts.com"/>--> <!--fuji singapore-->
    <!--<add key="PASSWORD" value="619976"/>--> <!--fuji singapore-->
    <!--<add key="SUPPLIER" value="V00017"/>--> <!--fuji singapore-->
    <!--<add key ="USERNAME" value="supply@nekoship.nl"/>--> <!--neko-->
    <!--<add key="PASSWORD" value="nekosales2017"/>--> <!--neko-->
    <!--<add key="SUPPLIER" value="V10107"/>--> <!--neko-->
    <add key ="USERNAME" value="info@fujitrading.nl"/>  <!--fuji rotterdam-->
    <add key="PASSWORD" value="Nihon775#"/><!--fuji rotterdam-->
    <add key="SUPPLIER" value="V10037"/>  <!--fuji rotterdam-->
    <add key="BUYER" value=""/>
    <add key ="BUYER_NAME" value="Bernhard Schulte Shipmanagement (Hong Kong) Ltd. Partnership|BERNHARD SCHULTE SHIPMANAGEMENT (HONG KONG) LTD. PARTNERSHIP|
       Bernhard Schulte Shipmanagement (Hong Kong) Limite|BSM (Hong Kong)|Bernhard Schulte Shipmanagement (Cyprus) Ltd.|BSM (Cyprus)|BSM (Singapore)|Bernhard Schulte Shipmanagement (Singapore) Pte. Ltd.|BSM (China)|
       Bernhard Schulte Shipmanagement (China) Company Ltd.|BSM (UK)|Bernhard Schulte Shipmanagement (UK) Limited|BSM (India)|BSM (Hellas)"/>
    <add key="BUYER_SUPPLIER_LINK" value="B60108|B60108|B60108|B60108|B60105|B60105|110341|110341|B60106|B60106|B60111|B60111|abc|abcd"/>
    <add key="LOGPATH" value=""/>
    <add key="AUDITPATH" value=""/>
    <add key ="MAILFILE_PATH" value=""/>
    <add key ="WAITPERIOD" value="120000"/>
    <add key="RFQRECEIVED_DATE" value=""/>
    <add key="RFQ_PATH" value=""/>
    <add key="QUOTE_UPLOADPATH" value=""/>
    <add key="MTML_QUOTE_UPLOADPATH" value=""/>
    <add key ="ATTACHMENT_INBOX" value=""/>
    <add key="PROCESSOR" value="Bernhard_Schulte_Routine.dll"/>
    <add key="PROCESSOR_NAME" value="Bernhard_Schulte"/>
    <add key="ACTIONS" value="Quote"/>
    <add key ="FROM_EMAIL_ID" value="portal@lighthouse-esolutions.com"/>
    <add key="MAIL_BCC" value="portal.archive@lesconnect.com.sg"/>
    <add key ="REJECTED_MSG" value="Rejected."/>
    <add key ="PRICE_VALIDITY_DAYS" value="30"/>
    <add key="SEARCH_TEXT_XLSQUOTE" value="Buyer Remarks"/>
    <add key ="CONSOLE_TITLE" value="BSM Fuji Processor"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>