<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SITE_URL" value="http://client.cidoship.com/SHORE/POR/Core/frmLogin.aspx"/>
    <add key ="USERNAME" value="fuji_daisuke954"/>
    <add key="PASSWORD" value="daisuke0630"/>
    <add key="BUYER" value="SM0645_WEB" /><!--SM05841buyer link code-->
    <add key="SUPPLIER" value="V00026" />
    <add key="BUYERNAME" value="CIDO SHIPPING (KOREA) CO., Ltd." />
    <add key="SUPPLIERNAME" value="	Fuji Trading Co Ltd Kobe (Mach Dept)" />
    <add key="CURRENTDATE" value=""/><!--format=yyyy-MM-dd-->
    <add key="AUDITPATH" value=""/>
    <add key="RFQPATH" value="" />
    <add key="MTML_QUOTE_PATH" value=""/>
    <add key="QUOTESUBJECT" value="QUOTATION"/>
    <add key="PROCESS_RFQ" value="false"/>
    <add key="PROCESS_QUOTE" value="true"/>
    <add key="PROCESSOR_NAME" value="Http_Cido_Shipping"/>
   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>