.RadComboBox {
	font: inherit !important;
}

.RadComboBox .rcbInner {
    padding: 0px 0px 0px 6px !important;
    border-radius: 0px !important;
}

/*
 * 콤보 세모 버트새
 */
.RadComboBox .rcbActionButton .t-font-icon {
    position: relative;
    top: -6px;
}

.RadComboBoxDropDown {
    border-radius: 0px !important;
    font: inherit !important;
    transition: none !important;
}