.RadGrid {
    font-family: tahoma, gulim, Arial, sans-serif !important;
    font-size: 12px !important;
    text-align: center !important;
	margin-top: 0px !important;
    border-left: 5px !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 0px !important;
}

.RadGrid .rgMasterTable,
.RadGrid .rgDetailTable,
.RadGrid .rgEditForm table {
    /*border-collapse: collapse !important;*/
    /*border-spacing: 0 !important;*/
    table-layout: fixed !important;
}

.RadGrid .rgHeader {
    padding: 5px 4px 5px 4px !important;
    /*background-color: #5F6772 !important;*/
	background-color: #4E555F !important;
	
	color: #FFFFFF !important;
	text-align: center !important;
    font-size: 12px !important;
    /* font-weight: bold !important; */
    white-space: nowrap !important;
    /*text-overflow: ellipsis;*/
    overflow: hidden !important;
}

.RadGrid .rgRow>td,
.RadGrid .rgAltRow>td,
.RadGrid .rgEditRow>td,
.RadGrid .rgFooter>td,
.RadGrid .rgFilterRow>td,
.RadGrid .rgGroupHeader td,
.RadGrid td {
    padding: 4px 5px 4px 5px !important;
    white-space: nowrap !important;
    /*text-overflow: ellipsis;*/
    overflow: hidden !important;
}

.RadGrid .rgRow,
.RadGrid .rgAltRow,
.RadGrid .rgEditRow,
.RadGrid .rgFooter,
.RadGrid .rgGroupHeader {
    height: 0px !important;
}

/*
    ±×¸®µå rowÀÇ ÃÖ¼Ò ³ôÀÌ 20px Ãß°¡
    - CEMSGrid °ø¹é ÄÃ·³ÀÏ¶§ '&nbsp;' ±âº»°ª Á¦°Å¿¡ ÀÇÇØ row ³ôÀÌ ÁÙ¾îµå´Â Çö»ó ÆÐÄ¡
*/
.RadGrid 
.rgRow>td, 
.RadGrid 
.rgAltRow>td {
    border-style: solid;
    border-width: 0 0 1px 1px;
    height: 20px !important;
}

.RadGrid .rgGroupHeader>td.rgGroupCol + td {
    font-weight: bold !important;
    text-align:left;
    background-color:#EAEAEA;
    color: #000000 !important;
    font-size:12px !important;
}

.RadGrid .rgGroupHeader>td.rgGroupCol + td > span {
    font-weight: bold !important;
    color: #000000 !important;
    font-size:12px !important;
}


.RadGrid .rgBatchContainer>[type="text"] {
    padding: 1px 2px !important;
    border-radius: 0px !important;
}

.RadGrid .t-button{
    padding: 3px !important;
}

/* 그리드 Pager */
.rgPager .t-button{
    padding: 6px !important;
}


.RadGrid tr.WebGrid_RowStyle_OverDue > td {
    color: red !important;
    font-weight: 600;
}

.RadGrid tr.rgSelectedRow > td {
    color: white !important;
}

.RadGrid .hiddenIcon > td > button {
    display: none;
}

.firstHeaderHidden > thead > tr:last-child {
    display: none;
}

.headerHidden > thead {
    display: none;
}

table[border],
table[border] th,
table[border] td {
    border-color: #949494;
}



.infoTable > tbody > tr > th {
	
	/*border-top: 2px solid #A9A9A9 !important;*/
	background-color: #E6E6E0 !important;
	/*background-color: #627897 !important;*/
	
	color: #333333 !important;
	/*color: #FFFFFF !important;*/
	
	font-size: 12px !important;
	font-weight:bold !important;
	text-align: center !important;
}


.infoTable > tbody > tr,
.infoTable > tbody > tr > td {
	margin: 5px !important;
    border: 1px solid #949494;
    
	padding-top: 4px;
	padding-left: 5px;
	/* text-align: center !important; */
}



table[border] th,
table[border] td {
    padding: 0px 0px 0px 0px;
}

table[border] th a,
table[border] td a {
    cursor: pointer !important;
}
