.RadTreeView .rtIn {
    margin: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0px !important;
}

.RadTreeView .rtLines .rtTop::before,
.RadTreeView .rtLines .rtMid::before,
.RadTreeView .rtLines .rtBot::before,
.RadTreeView .rtLines .rtOut::before {
    top: 3px !important;
}

.RadTreeView .rtPlus,
.RadTreeView .rtMinus {
    top: .25em !important;
}