<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XML_PATH" value="D:\Working\HTTP_POST\Http_Sertica_Processor\Http_Sertica_Processor\bin\Debug\XML"/>
  </appSettings>
    <startup> 
        <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />-->
    </startup>
</configuration>