<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- BROWSER SETTINGS -->
    <add key="NEW" value="FALSE"/>
    <add key="VIEW_BROWSER" value="TRUE"/>    
    
    <add key="DOMAIN" value="PHOENIX"/>

    <add key="BUYER_CODE" value="119.81.76.123=SM0376_WEBFUJI,EXECUTIVE SHIP MANAGEMENT PTE LTD |apps.southnests.com=SM0376_WEBFUJI,EXECUTIVE SHIP MANAGEMENT PTE LTD"/> <!-- Seperate values to be added by | -->    
    <add key="SUPP_CODE" value="@fujitrading.co.jp=V00026|@wilhelmsen.com=V10001|@fujitrading.nl=FUJI_ROTT|@rmsmarineservice.com=V10205"/> <!--|@wilhelmsen.com=V10001-->

    <!-- PORT WISE SUPPLIER-->
    <add key="SINGAPORE_V10205" value="V10204"/>    
    
    <!-- PATH SETTINGS -->
    <add key="LINK_PATH" value="C:\ShipMaster\eSupplierPortal\WebScriptBuyers\PHOENIX_WEB\Inbox"/>
    <add key="AUDIT_PATH" value="C:\ftp\eSupplierAudit"/>
    <add key="XML_PATH" value="C:\ShipMaster\eSupplierPortal\LES_XML_INBOX"/>
    <add key="HTML_PATH" value=""/>
    <add key="IMAGE_PATH" value="C:\ShipMaster\eSupplierPortal\ESUPPLIER_ATTACHMENTS"/>

    <add key="NEXT_CLICK_TIMER" value="15"/>

    <add key="SKIP_TEXT_FILES" value="Quotation - Preliminary"/>
  </appSettings>  
</configuration>
