   .form-wizard .steps { padding: 1px 0;margin-bottom: 10px;background-color: #fff;background-image: none;filter: none;border: 0px;box-shadow: none;}
       .btn-pad { padding:6px 12px;font-weight:400;font-size:14px; }
       .form-horizontal .radio>span { margin-top: -2px;}
       .nav>li>a { position: relative;display: block; padding: 5px 5px;}  .closebtn{text-align:center;margin-top:8px;}