.tdhd{ text-align: right; width: 15%; vertical-align : middle;  }
.tdcon3{ text-align: left; width: 85%; padding : 2px 0px 3px 20px; vertical-align : middle; }
.tdcon1 { text-align: left; width: 35%; padding : 2px 0px 3px 20px; vertical-align : middle; }
.tdcon1 span { font-size: 12px !important; }
.btext{ font-weight:bold; letter-spacing: 1px; font-size : 11.5px; }
.text{ font-size : 12px; font-family: Helvetica, Arial, sans-serif !important; }
.lfBorder{ border-left-style: solid; border-left-width: 1px; border-left-color: #999999; margin-left : -1px; } 
.rgBorder{ border-right-style: solid; border-right-width: 1px; border-right-color: #999999; } 
#headerBuyer{  color: #0866C6; font-size: 15px; }
ul{ list-style:none;}
.tdtitle{ font-size : 9pt; text-align :right; vertical-align: top; font-family: Helvetica, Arial, sans-serif !important; }
.tdcontent { text-align :left; padding-left: 10px; word-break: break-all; white-space: normal;padding-bottom:2px; }
.tdcontent span { font-size : 9pt !important; font-family: Helvetica, Arial, sans-serif !important; }
.td5 { width: 5%; }
.td10 { width: 10%; }
.td20 { width: 20%; }
.td30 { width: 30%; }
.td80 { width: 80%; }
.boxHD{ color : #333; font-size: 12px; font-weight: 600; letter-spacing: 1px; padding-bottom : 10px; border-bottom : solid 1px #eee; }

.ItemPopup td { padding-top: 5px; }
.back-to-top { position: fixed;bottom: 2em; right: 0px; text-decoration: none;font-size: 12px;padding: 1em;display: none;}
.brkWord{word-break: break-all; white-space: normal;}
.chzn-container .chzn-results { height: 150px;}
.dvfilterdet { margin-right: 25px;float:left;}
.closeButton{text-decoration: none !important; float: right; color: #000 !important; margin-right: 10px;}
.number .ui-spinner-buttons {
    display: none;
}
.number .input-spinner {
    width: 100%;
    margin-right:0px;
}

.tdhdTop {
    vertical-align:top;
}