<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EXCEL_FILE_PATH" value="D:\Working\DotNetBrowser\Bernhard Schulte\RMS\Goodwood_Excel_Processor\Goodwood_Excel_Processor\bin\Debug\RFQ_Files"/>
    <add key="EXCEL_MAPPING_PATH" value="D:\Working\DotNetBrowser\Bernhard Schulte\RMS\Goodwood_Excel_Processor\Goodwood_Excel_Processor\bin\Debug" />
    <add key="EXCEL_MAPPING_FILE" value="BS_Excel_Mapping.xml" />
    <add key="PROCESSOR_NAME" value="BSM_Special_Excel" />
    <add key="MTML_PATH" value="D:\Working\DotNetBrowser\Bernhard Schulte\RMS\Goodwood_Excel_Processor\Goodwood_Excel_Processor\bin\Debug\MTML" />
    <add key="AUDIT_PATH" value="D:\Working\DotNetBrowser\Bernhard Schulte\RMS\Goodwood_Excel_Processor\Goodwood_Excel_Processor\bin\Debug\Audit_Path" />
</appSettings>
</configuration>