<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="SITE_URL" value="https://erp.kotc.com.kw/OA_HTML/RF.jsp?function_id=32875&amp;resp_id=-1&amp;resp_appl_id=-1&amp;security_group_id=0&amp;lang_code=US&amp;params=mMjexmhD-oML0HZkrLMarBuz6LgJBkwo24QiM.xyfmQ-Vdo47.5tk6s2IvJAHAj6"/>-->
    <!--<add key ="USERNAME" value="info@fujitrading.nl"/>
    <add key="PASSWORD" value="Fuji.1974"/>-->
    <!--<add key ="USERNAME" value="MACH-1@FUJITRADING.CO.JP"/>
    <add key="PASSWORD" value="fuji1234"/>
    <add key="AUDITPATH" value=""/>
    <add key="RFQPATH" value="" />
    <add key="BUYER" value="SM0306"/>
    <add key="SUPPLIER" value="V00026"/>
    <add key="PROCESS_RFQ" value="true"/>
    <add key="PROCESS_PAGES" value="5"/>
    <add key="PROCESSOR_NAME" value="Http_Kotc_Processor"/>
    <add key ="REQUIREAUTHENTICATION" value ="false"/>-->
    <add key="VALID_FILETYPES" value=".XML|.XLS|.XLSX|.HTM|.HTML|.PDF|.TXT|.XLSM|.GIF|.JPG|.JPEG|.DOC|.DOCX|.PNG"/>
    <add key="USERAGENT" value="Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko"/>
   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
