<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="SITE_URL" value="https://paleconnect.bs-shipmanagement.com/"/>
    <add key ="USERNAME" value="mt@rmsmarineservice.com"/>
    <add key="PASSWORD" value="RaMbSc"/>
    <!-- 
     <add key ="USERNAME" value="info@fujitrading.nl"/>
    <add key="PASSWORD" value="Nihon775#"/>
    <add key ="USERNAME" value="skr@east-wind.de"/>
    <add key="PASSWORD" value="ventas2017"/>

    <add key ="USERNAME" value="contact@amos-sg.com"/>
    <add key="PASSWORD" value="amosbsm156"/>
       <add key ="USERNAME" value="mt@rmsmarineservice.com"/>
    <add key="PASSWORD" value="RaMbSc"/>
      <add key ="USERNAME" value="mt@rmsmarineservice.com"/>
    <add key="PASSWORD" value="RaMbSc"/>
       <add key ="USERNAME" value="mach-5@fujitrading.co.jp"/>
    <add key="PASSWORD" value="ed6f0c45"/>
      <add key ="USERNAME" value="mach-5@fujitrading.co.jp"/>
    <add key="PASSWORD" value="ed6f0c45"/>

  -->
  
    <add key="BUYER" value=""/>
    <add key="SUPPLIER_SINGAPORE" value="V10204"/>
    <add key="SUPPLIER" value="V10205"/>
    <add key="BUYER_NAME" value=""/>
    <add key="BUYER_SUPPLIER_LINK_SINGAPORE" value=""/>
    <add key="BUYER_SUPPLIER_LINK" value=""/>
    <add key="LOGPATH" value=""/>
    <add key="AUDITPATH" value="C:\LeS\eSupplier_portal\ESUPPLIER_AUDIT"/>
    <add key="MAILFILE_PATH" value=""/>
    <add key="WAITPERIOD" value="120000"/>
    <add key="RFQRECEIVED_DATE" value=""/>
    <add key="RFQ_PATH" value=""/>
    <add key="QUOTE_UPLOADPATH" value=""/>
    <add key="MTML_QUOTE_UPLOADPATH" value=""/>
    <add key="ATTACHMENT_INBOX" value="C:\LeS\eSupplier_portal\ESUPPLIER_ATTACHMENTS"/>
    <add key="DONESTATUS_PATH" value="C:\LeS\eSupplier_portal\RMS_SUCCESS_AUDIT"/>
    <add key="PROCESSOR" value="Bernhard_Schulte_Routine.dll"/>
    <add key="PROCESSOR_NAME" value="Bernhard_Schulte"/>
    <add key="ACTIONS" value="Quote"/>
    <add key="FROM_EMAIL_ID" value="portal@lighthouse-esolutions.com"/>
    <add key="MAIL_BCC" value="portal.archive@les.sg"/>
    <add key="REJECTED_MSG" value="Rejected."/>
    <add key="PRICE_VALIDITY_DAYS" value="30"/>
    <add key="SEARCH_TEXT_XLSQUOTE" value="Buyer Remarks"/>
    <add key="SHOW_FORM" value="false"/>
    <add key="IS_INVALID_RFQ" value="false"/>

    <!--Added for sending mail-->
    <add key="MAIL_AUDIT_PATH" value="C:\LeS\eSupplier_portal\SEND_MAIL_AUDIT_INBOX"/>

    <!-- SEND MAIL LINK SETTINGS (NOTIFY_SUPP|NOTIFY_BUYER|NOTIFY_CC|NOTIFY_BCC|SEND_HTML|SEND_ATTACHMENT|FROM_MAIL_FOR_BUYER|USE_DEFAULT_FROM_MAIL_FOR_BUYER|SUPPLIERID|MAIL_TEMPLATE_FOR_BUYER|MAIL_TEMPLATE_FOR_SUPP|SUPP_LINK_MAILID) -->
    <add key="V10204-SM0009_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0010_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0011_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0012_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0013_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0014_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0015_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0016_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10204-SM0017_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0009_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0010_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0011_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0012_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0013_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0014_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0015_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0016_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>
    <add key="V10205-SM0017_XLS" value="YES|NO|NO|YES|YES|NO||NO|0||QUOTE.txt|mt@rmsmarineservice.com"/>

    <add key="DRAFTQUOTE" value="TRUE"/>
    <add key="SUBMITQUOTE" value="TRUE"/>
    <add key="FREIGHT_CELL" value="M"/>
  
  </appSettings>
</configuration>